html body {
	font-family: $fontRegular;
	color: $darkGrey;
}

a {
	color: $darkGrey;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	&:hover {
		color: $lightGrey;
	}
	&:focus, &:visited {
		color: $baseGrey;
	}
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0 0 .8rem 0;
	font-weight: 100;
}
h1 {
	font-size: 6.4rem;
	line-height: 5.6rem;
	font-weight: 600;
}
h2 {
	font-size: 4.8rem;
	line-height: 4.2rem;
}
h3 {
	font-size: 3.2rem;
	line-height: 2.4rem;
	font-weight: 600;
}
h4 {
	font-size: 2.8rem;
	line-height: 2.2rem;
}
h5 {
	font-size: 2.4rem;
	line-height: 2.1rem;
}
p {
	font-size: 2.2rem;
	line-height: 2rem;
}
